<h2>Write your post here!</h2>

<%= form_for @blogpost, url: create_blog_path do |f| %>
  <div class="">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
    <div class="">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>


    <%= f.submit %>
    <% end %>
